*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
    width: 100%;
}
#app{
    width:30vw;
    height: 50vh;
    border: 1px solid black;
}
.stileCol{
    width: calc(100% / 10);
    height: 30px;
    text-align: center;
    border: 1px solid black;
}